html, body {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background: #424242;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    flex: 1 0 auto;
    animation-name: color-change;
    animation-duration: 60s;
    animation-iteration-count: infinite;

    @keyframes color-change {
        0% {
            background: #6a1b9a;
        }

        20% {
            background: #c62828;
        }

        40% {
            background: #795548;
        }

        60% {
            background: #2e7d32;
        }

        80% {
            background: #283593;
        }
        100% {
            background: #6a1b9a;
        }
    }
}

#container {
    display: grid;
    align-content: center;
    align-items: center;
    grid-row-gap: .5em;
    max-width: calc(100vw - 2em);

    .message-header {
        text-align: center;
        font-size: 4em;
        font-weight: lighter;
        margin: 0;
        text-shadow: 0 1px 1px #212121, 2px 2px 4px #212121;
    }

    .chat-message-form {
        font-size: 1.5em;
        display: grid;
        grid-template-columns: auto 4em;
        grid-row-gap: .5em;
        align-items: center;
        justify-items: center;
        justify-self: stretch;

        input {
            font-size: 1em;
            padding: .5em;
            width: 100%;
            border: none;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
            box-sizing: border-box;
            border-radius: 4px;

            &:disabled {
                background: #fafafa99;
            }

            &[type="submit"] {
                $background: rgba(255, 255, 255, .85);

                width: 70%;
                min-width: 12em;
                background-color: $background;
                color: invert($background);
                font-weight: bolder;
                letter-spacing: 1.1px;
                mix-blend-mode: screen;
                border-radius: 8px;
                cursor: pointer;

                transition-duration: .25s;
                transition-timing-function: cubic-bezier(.23, 1, .32, 1);

                transition-property: background-color, box-shadow;

                &:hover {
                    background-color: rgba($background, 1);
                    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .3);
                }

                &[disabled] {
                    background-color: rgba($background, .5);
                    box-shadow: none;
                    cursor: not-allowed;
                }

            }
        }
    }
}
